<div id="habbit">
  <div id="habbitHeaderWrapper">
    <div>
      <h4> {{title}}</h4>
    </div>
    <div id="habbitTypes">
      <div *ngFor="let type of types">
        {{type}}
      </div>
    </div>
  </div>
  <div id="habbitMainWrapper">
    <div>
      <input type="text" placeholder="Добавить ежедневное дело">
    </div>
    <div class="habbitData">
        <input type="checkbox" id="checkBox">
      <div id="description">
        <div>
          Название
        </div>
        <div>
          описание
        </div>
        <div class="streak">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 8"><path fill-rule="evenodd" d="M11.376 3.15L6.777.086A.5.5 0 0 0 6 .5v6.132a.5.5 0 0 0 .777.416l4.599-3.066a.5.5 0 0 0 0-.832M.777.085L6 3.567.777 7.049A.5.5 0 0 1 0 6.633V.5A.5.5 0 0 1 .777.085"></path></svg>
          </div>
          <div>
            +0| -0
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div>
        <svg id="footer_svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><path fill-rule="evenodd" d="M13 16h2v-2h-2v2zm-4 0h2v-2H9v2zm-4 0h2v-2H5v2zm12-4h2v-2h-2v2zm-4 0h2v-2h-2v2zm-4 0h2v-2H9v2zm13-4H2v8a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8zm2-2v10a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V6a4 4 0 0 1 4-4h1V0h2v2h10V0h2v2h1a4 4 0 0 1 4 4zM5 12h2v-2H5v2z"></path></svg> </div>
      <div>
        <h4>Это ваши Ежедневные дела</h4>
      </div>
      <div>
        <p>Ежедневные дела повторяются регулярно. Настройте расписание, которое вам подходит лучше всего!</p>
      </div>
    </div>
  </div>
</div>
