<div class="container">
    <div id="title">
      <a href="">Снаряжение</a>
    </div>
</div>

<div id="inventotyMain">
  <div id="filterWrapper">
    <div>
      <input type="text" placeholder="Поиск">
    </div>
    <div>
      <div>Фильтры</div>
    </div>
    <div>
      <div>
        <input type="checkbox">
        <label for="">Оружие</label>
      </div>
      <div>
        <input type="checkbox">
        <label for="">Защита</label>
      </div>
      <div>
        <input type="checkbox">
        <label for="">Броня</label>
      </div>
      <div>
        <input type="checkbox">
        <label for="">Зелья</label>
      </div>
    </div>
  </div>
  <div id="equipmentWrapper">
    <div id="equipmentHeader">
      <div>
          <div id="labelQue">Боевая экипировка</div>
      </div>
      <div>
        <label for="">Группировать </label>
        <select name="" id="">
          <option value="">ТЕЛ</option>
          <option value="">ВЫС</option>
          <option value="">СИЛ</option>
          <option value="">ИНТ</option>
        </select>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div>Воин</div>
        <div class="row">
          <div class="item col-3">

            <img src="https://www.clipartkey.com/mpngs/m/68-686966_murder-weapon-svg-png-icon-free-download-knife.png" alt="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="+12 к силе">

          </div>
          <div class="item col-3">
            <img src="https://lh3.googleusercontent.com/proxy/7uaigetLl-8RYmIBvhwvxWbD1Y2RQZkNUWzdeZLpQ79n4FzjKJYBYV5LkBYQeQNcgSXjaNAtcEa0PpkLuo2jGULDczg0foRk31_aZUxwsLopNG-iEeiQO_PBs_MtUkuiwO_Wogz6e0Ue1Q" alt="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="+22 к силе">
          </div>
          <div class="item col-3">
            <img src="https://st2.depositphotos.com/3921439/7919/v/380/depositphotos_79197602-stock-illustration-the-crossed-knives-icon-knife.jpg" alt="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="+32 к силе">
          </div>
          <div class="item col-3">
            <img src="https://st3.depositphotos.com/29544098/33931/v/380/depositphotos_339310498-stock-illustration-vector-illstration-of-crossed-knifes.jpg" alt="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="+42 к силе">
          </div>
        </div>
      </div>
      <div class="row">
        <div>Маг</div>
        <div class="row">
          <div class="item col-3">
            <img src="https://www.nicepng.com/png/detail/342-3423729_black-and-white-magic-staff.png" alt="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="+12 к интелекту">
          </div>
          <div class="item col-3">
            <img src="https://static.thenounproject.com/png/2409134-200.png" alt="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="+22 к интелекту">
          </div>
          <div class="item col-3">
            <img src="https://static.thenounproject.com/png/921085-200.png" alt="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="+32 к интелекту">
          </div>
          <div class="item col-3">
            <img src="https://static.thenounproject.com/png/2091828-200.png" alt="" data-bs-toggle="tooltip" data-bs-placement="bottom" title="+42 к интелекту">
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
