<div class="modal active">
  <div class="modal__content">
    <div>
      <h2>Войти</h2>
    </div>
    <div>
      <label for="">Логин</label>
      <div>
        <input type="text" placeholder="Введите логин">
      </div>
    </div>
    <div>
      <label for="">Пароль</label>
      <div>
        <input type="password" placeholder="Введите пароль">
      </div>
    </div>
    <div>
      <a href="" routerLink="/registr">У вас нет аккаунта? Регистрация</a>
    </div>
    <div id="btn">
      <button>Войти</button>
    </div>

  </div>
</div>
