#heroDataWrapper{
  display: grid;
  grid-template-columns: 200px 350px;
  padding: 20px 40px;
  background-color: #ea78ff;
}
img{
  width: 150px;
  height: 150px;
  cursor: pointer;
}
.logoAndInfo{
  display: flex;
  justify-items: center;
  align-items: center;
}
#infoPerson{
  margin: 0 10px;
}
#class{
  width: 35px;
  height: 35px;
}
svg{
  width: 25px;
  height: 25px;
  margin: 5px;
}
.healthAndExpirence{
  display: flex;
  align-items: center;
}
progress{
  margin: 0 7px;
}
